In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('car driving risk analysis.csv')

In [3]:
df

   speed  car_age  experience  risk
0    200       95        15.0   5.0
1     90       17        13.0  20.0
2    165       12         4.0  93.0
3    110       20         NaN  60.0
4    140        5         3.0  82.0
5    115        2         8.0  10.0

In [4]:
df.experience

0    15.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [5]:
exp_fit=df.experience.mean()

In [6]:
exp_fit

8.6

In [7]:
df.experience=df.experience.fillna(exp_fit)

In [8]:
df.experience

0    15.0
1    13.0
2     4.0
3     8.6
4     3.0
5     8.0
Name: experience, dtype: float64

In [9]:
df

   speed  car_age  experience  risk
0    200       95        15.0   5.0
1     90       17        13.0  20.0
2    165       12         4.0  93.0
3    110       20         8.6  60.0
4    140        5         3.0  82.0
5    115        2         8.0  10.0

In [10]:
from sklearn import linear_model

In [11]:
reg = linear_model.LinearRegression()

In [14]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
reg.predict([[160,10,5]])

array([58.48143877])

In [18]:
reg.coef_

array([ -0.63675539,   1.30755695, -13.38065137])

In [19]:
reg.intercept_

214.18998825967975

### risk=M1(-0.6367)* speed(160)+M2(1.30)*car_age(10)+M3(5)*experience(-13.38)+intercept(214.18998)......

In [20]:
-0.63675539*160+1.30755695*10+5*-13.38065137+214.18998825967975

58.48143850967972